
#about_me_section{
    padding: 75px 0;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap-reverse;
    background-image: url("/static/css/images/backgound.png");
    background-repeat: repeat;
}

.about_me_container{
    padding: 30px;
    min-height: 850px;
    width: 900px;
    color: white;
    max-width: 90%;
}

.about_me_text{
    font-style: italic;
    font-size: 20px;
}


#about_me_section h2{
    font-size: 40px;
    margin-bottom: 75px;
    padding: 0px;
}

#about_me_section h3{
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
}

#change-picture-btn {
    user-select: none;
    cursor: pointer;
  }
  
.aboutme_icon_text{
    display: none;
}

.social-link-aboutme.spotify {
    display: none;
    background-image: url("/static/css/images/icons/spotify.png");
    background-repeat: no-repeat;
    background-position: center;
}

.social-link-aboutme.soundcloud {
    display: none;
    background-image: url("/static/css/images/icons/soundcloud.png");
    background-repeat: no-repeat;
    background-position: center;
}


.social-link-aboutme:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px white;
}


@media(max-width: 1317px){
    .about_me_playlist{
        display: none;
    }

    .social-media-links-aboutme {
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: center;
    }
    
    .social-link-aboutme {
        width: 35px;
        height: 35px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        background-size: 100%; /* Passt die Größe des Hintergrundbildes an */
        background-position: center; /* Zentriert das Bild */
        background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .social-link-aboutme.soundcloud{
        display: flex;
    }

    .social-link-aboutme.spotify{
        display: flex;
    }

    .aboutme_icon_text{
        display: flex;
        justify-content: center;
        margin: 20px 0px 30px 0px;
        font-size: 25px;
        color: white;
        text-decoration: none;
    }
    
}
@media(max-width: 800px){
    #about_me_section{
        padding: 70px 0;
        flex-direction: column;
        gap: 50px;
    }

    #about_me_section h2{
        text-align: center;
        font-size: 7vw;
        margin-bottom: 40px;
    }

    .about_me_container {
        padding: 0px;
    }

    .about_me_container p{
        text-align: center;
        font-size: 4vw;
    }

    .about_me_container h2 span{
        color: rgb(200,20,045);
    }

    .about_me_text {
        text-align: center;
        font-size: 17px;
        margin: 0 40px;
    }



}
