#about_me_section {
    min-height: 950px;
    padding: 75px 75px;
    display: flex;
    overflow: hidden;
    background-image: url(/static/css/images/backgound.png);
    background-repeat: repeat;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.player {
    display: none;
    flex: 0 0 100%;
    border-radius: 25px;
    flex-direction: row; /* Changed to row to align items horizontally */
    align-items: flex-start;
}

.player.active {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.player .imgbox {
    position: relative;
    width: 350px;
    flex-shrink: 0; /* Prevent shrinking */
    display: flex;
    flex-direction: column; /* Stack image and audio vertically */
    margin-top: 100px;
}

.player .imgbox img {
    width: 100%;
    height: 350px; /* Fixed height for the image */
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.player .audio-container {
    width: 100%; /* Full width under the image */
    padding: 10px; /* Add some padding */
    box-sizing: border-box; /* Ensure padding is included in the width */
    background-color: #f1f3f4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.player audio {
    width: 100%;
    outline: none;
}

.lyrics {
    flex: 2; /* Increased flex-grow value to take more space */
    font-size: 1.5rem; /* Increased font size */
    color: white; /* Changed text color to white */
    padding: 20px; /* Added padding for some space around the lyrics */
    margin-left: 20px;
    text-align: center; /* Centered the text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 750px;
}

.lyrics h2 {
    margin: 0 0 30px 0; /* Adjust margins as needed */
    font-size: 2rem; /* Adjust font size as needed */
    color: white; /* Ensure the heading text color is white */
    padding: 0;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: flex-end;
}

.carousel-controls button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; /* Remove any default padding */
}

.carousel-controls button img {
    width: 40px;
    height: 40px;
}
