#contact {
    color: white;
    padding: 20px;
    background-color: black;
    min-height: 100vh;
    background-image: url("/static/css/images/backgound.png");
}

h2{
    text-align: center;
    padding: 75px;
}

.form{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

/* Flex Container für die nebeneinander liegenden Felder */
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.input-group {
    display: flex;
    flex-direction: column;
    flex: 1; /* Erlaubt den Feldern, den verfügbaren Platz zu nutzen */
}

input[type="text"],
input[type="email"] {
    height: 60px;
    background-color: #1b1b1b;
    border: 1px solid #333131; /* Graue Border */
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-size: 15px;
    width: 100%;
}

textarea{
    height: 200px;
    background-color: #1b1b1b;
    border: 1px solid #333131; /* Graue Border */
    border-radius: 5px;
    padding: 15px;
    color: white;
    font-size: 15px;
    width: 100%;
}


input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: white; /* Oder eine andere Farbe, die gut zum Design passt */
    outline: none; /* Entfernt den standardmäßigen blauen Outline */
}


input[type="text"]::placeholder,
input[type="email"]::placeholder {
    color: #817d7d; /* Heller Grauton für den Platzhaltertext */
    font-size: 15px;
}

.submit-btn {
    width: 180px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

.submit-btn:hover {
    background-color: white;
    color: black;
}

label {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 15px;
}

@media (max-width: 800px) {
    .form-row {
        flex-direction: column;
        gap: 10px; /* Reduzierter Abstand für kleinere Bildschirme */
    }

    h2{
        padding: 0px;
        margin: 30px 0px;
    }

    label{
        margin-top: 10px;
    }
}