#skills {
    background-image: url("/static/css/images/backgound.png");
    background-repeat: repeat;
    color: white;
    padding: 20px;
    min-height: 100vh;
}

#skills h2 {
    color: white;
    margin-bottom: 30px;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0 300px; /* Fügt horizontalen Abstand hinzu */
}

.skill {
    position: relative;
    flex: 1 1 22%; /* Flex-Basis für die Anpassungsfähigkeit */
    max-width: calc(25% - 20px); /* Maximal 4 Kacheln mit Berücksichtigung eines Abstands */
    min-width: 210px; /* Minimale Kachelbreite */
    min-height: 210px; /* Minimale Kachelhöhe */
    margin: 10px;
    background-color: #333;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



.skill img {
    min-width: 40%; /* Behalte die Größe bei, wie zuvor festgelegt */
    position: absolute;
    top: 20%; /* Erhöhe diesen Wert, um das Bild weiter nach unten zu verschieben */
    left: 50%;
    transform: translateX(-50%);
    max-height: 50%; /* Optional, abhängig von deinen Bedürfnissen */
    pointer-events: none;
}

.skill p {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px; /* Verringere diesen Wert, um den Text höher zu positionieren */
    left: 0;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}


.skill::before {
    content: "";
    display: block;
    padding-top: 100%; 
    pointer-events: none; 
}

.skill:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px white;
}

/* Für Bildschirme, die breiter als 800px sind: 4 Kacheln */
@media (max-width: 1607px) {
    .skills-grid {
        margin: 0 50px;

    }

    .skill{
        height: 210px;
        width: 210px;
        max-width: 210px;
        max-height: 210px;
    }
}

/* Für Bildschirme, die breiter als 480px sind: 2 Kacheln */
@media (max-width: 1167px) {
    .skills-grid {
        margin: 0 50px;
    }

    .skill p {
        bottom: 15px;
    }
}

@media (max-width: 1006px) {
    .skills-grid {
        gap: 40px 80px;
    }
}

@media (max-width: 800px) {
    .skills-grid {
        gap: 10px;
        margin: 0px;
    }

    .skill{
        height: 180px;
        width: 180px;
        min-width: 180px; 
        min-height: 180px;
    }
}

@media (max-width: 390px) {
    .skills-grid {
        gap: 10px;
        margin: 0px;
    }

    .skill{
        height: 150px;
        width: 150px;
        min-width: 150px; 
        min-height: 150px;
        max-width: 150px;
        max-height: 150px;

    }

    .skill p {
        bottom: 10px;
    }
}
