/* Club Ranking Section */
#club-ranking {
    background-color: #1a1a1a;
    color: #f5f5f5;
    padding: 60px 20px;
    text-align: center;
}

.ranking-container {
    max-width: 800px;
    margin: 0 auto;
}

.ranking-heading {
    font-size: 2.0rem;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0;
}

.ranking-description {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #aaa;
}

.club-ranking-list {
    list-style: none;
    padding: 0;
}

.club-ranking-list li {
    display: flex; /* Flexbox aktivieren */
    align-items: center; /* Vertikal zentrieren */
    justify-content: space-between; /* Gleichmäßige Verteilung der Elemente */
    background: #333;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 15px 20px;
    margin: 10px 0;
    transition: background 0.3s ease;
}

.club-position {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffcc00;
    margin-right: 10px;
}

.club-name {
    flex-grow: 1; /* Füllt verfügbaren Platz zwischen Position und Icon */
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

.club-location {
    margin-right: 10px;
    color: #666;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.club-location:hover {
    color: #ffcc00; /* Hover-Effekt */
}

.club-score {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffcc00;
}


.club-ranking-list li {
    animation: fadeInUp 0.8s ease-out;
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.club-location {
    color: #666; /* Dunkelgraue Farbe */
    font-size: 1.2rem;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.club-location:hover {
    color: #ffcc00; /* Goldene Farbe bei Hover */
    cursor: pointer;
}

.club-location i {
    margin-right: 5px;
}


@media(max-width: 400px) {
    .club-name{
        font-size: 1.0rem;
    }

    .ranking-heading {
        font-size: 1.2rem;
    }

}

