<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/static/fitness/icons/icon-192x192.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#0f172a" />
    <meta name="description" content="Calisthenics Workout Tracker - Track your progress with progressive overload" />

    <!-- PWA Meta -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <title>Fitness Tracker</title>
    <link rel="manifest" href="/static/fitness/manifest.webmanifest">
    <script type="module" crossorigin src="/static/fitness/assets/index-BrWz3OMG.js"></script>
    <link rel="stylesheet" crossorigin href="/static/fitness/assets/index-I46T2aZw.css">
    <script id="vite-plugin-pwa:register-sw" src="/static/fitness/registerSW.js"></script>
  </head>
  <body class="dark">
    <div id="root"></div>
  </body>
</html>
