{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        <!-- Menu Icon -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    
        <!-- Eigener CSS -->
        <link rel="stylesheet" href="{% static 'css/general_settings.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/about_me.css' %}">
        <link rel="stylesheet" href="{% static 'css/skills.css' %}">
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">


    </head>
<body>

    <nav>
        <input type="checkbox" id="toggle_button">
        <label for="toggle_button">
            <span class="material-symbols-outlined">menu</span>
        </label>
        <ul>
            <li><a href="#about_me_section">About me</a></li>
            <li><a href="#skill_section">Skills</a></li>
            <li><a href="">Project</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>

   <header>
    <div class="header_image">
        <img src="/static/css/images/logo.png" alt="Logo">
    </div>

    <div class="header_text">
        <h1>Welcome</h1>
        <p class="subheading">Welcome to a pixel adventure! I am <span style="font-weight: bolder;">Alex Volkmann</span>, crafting code and design into unique digital experiences. Get to know me better.</p>
    </div>

   </header>

    <section id="about_me_section">
        <img id="about_me_image" src="/static/css/images/aboutme/alex0.jpeg" alt="">
        <div class="about_me_container">
            <h2>About me</h2>
            <p>
                In a world of wonder, where dreams take flight,<br>
                I'm Alex, here to share my light.<br>
                With a heart full of laughter and a mind so keen,<br>
                Let me take you on a journey, if you know what I mean.<br>
                <br>
                From dawn till dusk, I chase my dreams,<br>
                With a sprinkle of magic, or so it seems.<br>
                With every step, I dance with glee,<br>
                Embracing life's adventures, wild and free.<br>
                <br>
                In the land of creativity, I hold my sway,<br>
                Weaving stories and songs, come what may.<br>
                With words as my paint and rhymes as my brush,<br>
                I'll create a masterpiece, no need to rush.<br>
                <br>
                So here's to me, and the life I lead,<br>
                Filled with laughter, love, and a little mischievous deed.<br>
                I'll keep dancing through life, with a skip and a hop,<br>
                Embracing each moment, until I reach the mountain top!<br>
            </p>
        

        </div>
        

    </section>

   <section id="skill_section">
    <h2>Skills</h2>
    <div class="flex_container">
        <div class="card">
            <h3>Program</h3>
            <div class="program">
                <img src="/static/css/images/skills/photo.png" alt="Photoshop" class="skill-image">
                <p class="description">Photoshop</p>
            </div>
            <div class="program">
                <img src="/static/css/images/skills/premiere.png" alt="Premiere Pro" class="skill-image">
                <p class="description">Premiere Pro</p>
            </div>
            <div class="program">
                <img src="/static/css/images/skills/vsc.png" alt="Visual Studio Code" class="skill-image">
                <p class="description">Visual Studio Code</p>
            </div>
        </div>
        <div class="card">
            <h3>Programming language</h3>
            <div class="program">
                <img src="/static/css/images/skills/python.png" alt="Python" class="skill-image">
                <p>Pyhton</p>
            </div>
            <div class="program">
                <img src="/static/css/images/skills/html.png" alt="HTML" class="skill-image">
                <p>HTML</p>
            </div>
            <div class="program">
                <img src="/static/css/images/skills/css.png" alt="CSS" class="skill-image">
                <p>CSS</p>
            </div>
        </div>
        <div class="card">
            <h3>Certificates</h3>
                <img src="/static/css/images/skills/havard.png" alt="CSS" class="certi">
                <p>Havard Python</p>
        </div>
    </div>
   </section>
   
   <footer></footer>
    
    <!-- Bootstrap JS und jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Eigener JavaScript -->
    <script src="{% static 'js/about_me.js' %}"></script>


</body>
</html>
