{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Google Fonts - Press Start 2P -->
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <!-- Für Share Tech Mono -->
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">

    
        <!-- Eigener CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
<body>
    <div class="navbar">
        <a href="#home-section">Home</a>
        <a href="#aboutme-section">About me</a>
        <a href="#skills-section">Skills</a>
        <a href="#projects-section">Projects</a>
        <a href="#contacts-section">Contact</a>
    </div>
    
    
    <!-- HOME SECTION-->
    <section id="home-section">
        <div class="center-container">

            <!-- start pic-->
            <div id="click-me-text"></div>
            <img id="logo-image" src="{% static 'css/images/logo.png' %}" alt="Logo" onclick="moveImageToLeft()">

            <!-- text-->
            <div class="about-section" id="about-section">
                <h2 id="home-header"></h2>
                <p id="home-paragraph"></p>
            </div>

            <!-- animation-->
            <div id="pixel-figure-container">
                <div id="pixel-figure"></div>
            </div>
        </div>
    <section id="home-section">

    <!-- ABOUTME SECTION -->
    <section id="aboutme-section">
        <div class="aboutme-icons-container">
            <!-- Icons für die einzelnen Bereiche -->
            <img src="{% static 'css/images/symbol/intro.png' %}" class="aboutme-icon" data-target="intro-content" alt="Einleitung">
            <img src="{% static 'css/images/symbol/education.png' %}" class="aboutme-icon" data-target="education-content" alt="Ausbildung">
            <img src="{% static 'css/images/symbol/goals.png' %}" class="aboutme-icon" data-target="goals-content" alt="Goals">
            <img src="{% static 'css/images/symbol/hobbys.png' %}" class="aboutme-icon" data-target="hobbys-content" alt="Hobby">
            <img src="{% static 'css/images/symbol/facts.png' %}" class="aboutme-icon" data-target="facts-content" alt="Facts">
            <!-- weitere Icons -->
        </div>

        <!-- Der Inhalt für die Einleitung -->
        <div id="intro-content" class="aboutme-content active-content">
            <p>Einleitender Text...</p>
            <!-- eventuell weiterer Inhalt -->
        </div>

        <!-- Der Inhalt für die Ausbildung -->
        <div id="education-content" class="aboutme-content hidden-content">
            <p>Ausbildungstext...</p>
            <!-- eventuell weiterer Inhalt -->
        </div>
        <!-- Der Inhalt für die Ziele -->
        <div id="goals-content" class="aboutme-content active-content">
            <p>Einleitender Ziele...</p>
            <!-- eventuell weiterer Inhalt -->
        </div>
        <!-- Der Inhalt für die Hobbys -->
        <div id="hobbys-content" class="aboutme-content active-content">
            <p>Einleitender Hobbys...</p>
            <!-- eventuell weiterer Inhalt -->
        </div>
        <!-- Der Inhalt für die Fakten -->
        <div id="fact-content" class="aboutme-content active-content">
            <p>Einleitender Fakten...</p>
            <!-- eventuell weiterer Inhalt -->
        </div>
    </section>



    <!-- SKILL SECTION -->
    <section id="skills-section">
        <div class="skills-container-left">
            <h2>Skills</h2>
            <div class="skills-content">
                <div class="skill-subsection">
                    <h3>Software</h3>
                    <ul>
                        <li class="hover-item">
                            <img src="{% static 'css/images/skills/office.png' %}" class="skill-logo" alt="Microsoft Office Bild">
                            <span class="skill-description">Microsoft Office</span>
                        </li>
                        <li class="hover-item">
                            <img src="{% static 'css/images/skills/vsc.png' %}" class="skill-logo" alt="Visual Studio Code Bild">
                            <span class="skill-description">Visual Studio Code</span>
                        </li>
                        <li class="hover-item">
                            <img src="{% static 'css/images/skills/photo.png' %}" class="skill-logo" alt="Photoshop Bild">
                            <span class="skill-description">Photoshop</span>
                        </li>
                        <li class="hover-item">
                            <img src="{% static 'css/images/skills/premiere.png' %}" class="skill-logo" alt="Premiere Pro Bild">
                            <span class="skill-description">Premiere Pro</span>
                        </li>
                    </ul>
                </div>

                <div class="skill-subsection">
                    <h3>Technische Fähigkeiten</h3>
                    <ul>
                        <li class="hover-item">
                            <img src="{% static 'css/images/skills/python.png' %}" class="skill-logo" alt="Python Bild">
                            <span class="skill-description">Python</span>
                        </li>
                        <li class="hover-item">
                            <img src="{% static 'css/images/skills/chat.png' %}" class="skill-logo" alt="CHATGPT Bild">
                            <span class="skill-description">ChatGPT</span>
                        </li>
                        <li class="hover-item">
                            <img src="{% static 'css/images/skills/css.png' %}" class="skill-logo" alt="CSS Bild">
                            <span class="skill-description">CSS</span>
                        </li>
                        <li class="hover-item">
                            <img src="{% static 'css/images/skills/html.png' %}" class="skill-logo" alt="HTML Bild">
                            <span class="skill-description">HTML</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="skills-container-right">
            <img src="{% static 'css/images/skills/skill.png' %}" class="skills-image" alt="Beschreibung des Bildes">
        </div>
    </section>


    
    
    <!-- Bootstrap JS und jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Eigener JavaScript -->
    <script src="{% static 'js/test.js' %}"></script>
</body>
</html>
